/* grid layout */

.container-grid {
  width: 60%;
  margin: 2rem auto;
}

.grid-site {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 5px;
}

.grid-site__header {
  background-color: green;
  grid-column: 1 / 5;
  grid-row: 1;
}

.grid-site__side-bar {
  background-color: rgb(42, 68, 42);
  grid-column: 1;
  grid-row: 2 / 5;
}

.grid-site__main-content {
  background-color: rgb(154, 211, 154);
  grid-column: 2 / 5;
  grid-row: 2 / 5;
}

.grid-site__footer {
  background-color: rgb(115, 255, 115);
  grid-column: 1 / 5;
  grid-row: 5 / 6;
}

/* flex layout */

.container-float {
  width: 60%;
  margin: 2rem auto;
}

.float-site__header {
  height: 100px;
  background-color: blue;
  margin-bottom: 5px;
}

.float-site__side-bar {
  float: left;
  height: 300px;
  width: 30%;
  background-color: rgb(61, 61, 145);
}

.float-site__main-content {
  height: 300px;
  background-color: rgb(137, 137, 224);
  margin-bottom: 5px;
  width: 69.2%;
  float: right;
}

.float-site__footer {
  height: 100px;
  width: 100%;
  background-color: rgb(63, 63, 80);
  clear: both;
}

/* flex layout */

.container-flex {
  width: 60%;
  margin: 2rem auto;
  height: 800px;
}

.flex-site__header {
  height: 100px;
  width: 100%;
  background-color: rgb(123, 255, 0);
  margin-bottom: 5px;
}

.flex-site__side-bar {
  height: 300px;
  width: 30%;
  background-color: rgb(72, 151, 52);
}

.flex-site__main-content {
  height: 300px;
  background-color: rgb(95, 110, 91);
  margin-bottom: 5px;
  width: 70%;
  margin-left: 5px;
}

.flex-site__footer {
  height: 100px;
  width: 100%;
  background-color: rgb(28, 75, 10);
}

.flex-site__flex {
  display: flex;
}

.outsideDiv {
  margin: auto;
  width: 150px;
  height: 150px;
  border: 1px solid;
  background-color: rgb(177, 174, 174);
}

.centerDiv {
  margin: auto;
  width: 50px;
  height: 50px;
  border: 1px solid;
  background-color: tomato;
}